<!DOCTYPE html>
<html>
    <head>
        <title>Hello ng-world!</title>


        <link rel="stylesheet" href="node_modules/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="node_modules/reveal.js/css/theme/simple.css">
        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="node_modules/reveal.js/lib/css/zenburn.css">

        <link rel="stylesheet" href="styles/slides.css">
    </head>

    <body>
        <!-- lib scripts -->
        <script src="node_modules/reveal.js/lib/js/head.min.js"></script>
        <script src="node_modules/reveal.js/js/reveal.js"></script>


        <div class="reveal">
            <div class="slides">
                <!-- INTRO -->
                <section>
                    <div class="title">
                        <img src="images/protractor-logo.png">
                        <h1>Protractor styleguide</h1>
                    </div>
                    <div class="speaker">
                        <img class="avatar" src="images/carmen-profile.jpg">
                        <p>@CarmenPopoviciu</p>
                    </div>
                    <div class="speaker">
                        <img class="avatar" src="images/andres-profile.jpg">
                        <p>@andresdom</p>
                    </div>
                </section>

                <section>
                    <h2>TODO - some intro -</h2>
                </section>



                <!-- E2E GENERICS -->
                <section>
                    <h2>E2E Testing</h2>
                </section>

                <section>
                    <h2>Why is it important?</h2>
                    <ul>
                        <li class="fragment">Tells you that everything is OK</li>
                        <li class="fragment">Prevents production incidents</li>
                        <li class="fragment">Checks the app from the user's perspective</li>
                        <li class="fragment">Manual testing is not a good idea</li>
                    </ul>
                </section>

                <section>
                    <h2>What do we e2e test?</h2>
                    <ul>
                        <li class="fragment">Major subpages or routes in the site</li>
                        <li class="fragment">Main user interaction flows</li>
                        <li class="fragment">Essential elements on a page</li>
                    </ul>
                </section>



                <!-- RULES -->
                <section>
                    <h2>Protractor Styleguide</h2>
                </section>

                <section>
                    <h1>Our rules</h1>
                </section>

                <section>
                    <h2>#1</h2>
                    <p class="fragment">WHAT: Don't cheat on your tests</p>
                    <p class="fragment">WHY: Tests are there for a reason. You'll only be cheating on yourself.</p>
                </section>

                <section>
                    <h2>#2</h2>
                    <p class="fragment">WHAT: Don't e2e test what you can unit test</p>
                    <p class="fragment">WHY: Unit tests are much faster than e2e tests</p>
                </section>

                <section>
                    <h2>#3</h2>
                    <p class="fragment">WHAT: Don't e2e test what you already unit tested</p>
                    <p class="fragment">WHY: This one should be pretty obvious ;)</p>
                </section>

                <section>
                    <h2>#3</h2>
                    <p>WHAT: Don't e2e test what you already unit tested</p>
                    <p>WHY: Avoid duplicate tests</p>
                </section>

                <section>
                    <h2>#4</h2>
                    <p class="fragment">WHAT: Put all e2e test files in one dedicated folder</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Easy to find</li>
                            <li>Separates them from unit tests</li>
                            <li>Cleaner folder structure</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

|-- app
  |-- home
      home.module.js
      home.controller.js
      home.controller.spec.js
      home.e2e.spec.js
      home.page.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
      profile.controller.spec.js
      profile.directive.page.js
      profile.page.js
      profile.e2e.spec.js
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

|-- app
  |-- home
      home.module.js
      home.controller.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
|-- test
  |-- unit
      |-- ...
  |-- e2e
    |-- home
        homePageObject.js
        home.spec.js
    |-- profile
        profilePageObject.js
        profile.spec.js
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

|-- app
  |-- home
      home.module.js
      home.controller.js
      home.controller.spec.js
      |-- e2e
          homePageObject.js
          home.spec.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
      profile.controller.spec.js
      profile.directive.spec.js
      |-- e2e
          profilePageObject.js
          profile.spec.js
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#5</h2>
                    <p class="fragment">WHAT: Use one configuration file</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Use your build tool to setup different configurations</li>
                            <li>Avoid duplicate configuration code</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

protractor.conf.local.js
protractor.conf.dev.js
protractor.conf.test.js
.....
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* protractor.conf.js */
exclude: [],
multiCapabilities: [{
    browserName: 'chrome',
    shardTestFiles: true,
    maxInstances: 3
}],
allScriptsTimeout: 11000,
getPageTimeout: 10000,
framework: 'jasmine',
jasmineNodeOpts: {
    isVerbose: false,
    showColors: true,
    includeStackTrace: false,
    defaultTimeoutInterval: 40000
}
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* Gruntfile.js */
// grunt-protractor-coverage config
e2e.local: {
  options: {
    args: {
      baseUrl: local_base_url,
      seleniumAddress: local_selenium_address,
      specs: ['..../**/*.spec.js']
    }
  }
},
e2e.dev: {
  options: {
    args: {
      baseUrl: dev_base_url,
      seleniumAddress: dev_selenium_address,
      specs: ['..../**/*.spec.js']
    }
  }
}
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#6</h2>
                    <p class="fragment">WHAT: Favor protractor locator strategies when possible</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Access elements easier</li>
                            <li>Code is less likely to change than other markup</li>
                            <li>More readable locators</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;ul class="red"&gt;
    &lt;li&gt;{{color.name}}&lt;/li&gt;
    &lt;li&gt;{{color.shade}}&lt;/li&gt;
    &lt;li&gt;{{color.code}}&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* avoid */

var nameElem = element.all(by.css('.red li')).get(0);
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;ul class="red"&gt;
    &lt;li&gt;{{color.name}}&lt;/li&gt;
    &lt;li&gt;{{color.shade}}&lt;/li&gt;
    &lt;li&gt;{{color.code}}&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* recommended */

var nameElem = element(by.binding('color.name'));
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;div class="details"&gt;
    &lt;div class="personal"&gt;
        &lt;input ng-model="person.name"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* avoid */

var nameElem = element.all(by.css('.details'))
                      .all(by.css('personal'))
                      .get(0);
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;div class="details"&gt;
    &lt;div class="personal"&gt;
        &lt;input ng-model="person.name"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* recommended */

var elem = element(by.model('person.name'));
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#7</h2>
                    <p class="fragment">WHAT: Favor by.id, by.css and by.name locators when possible and when no protractor
                        locators are available</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Access elements easier</li>
                            <li>Select markup that is less likely to change</li>
                            <li>More readable locators</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <h2>#8</h2>
                    <p class="fragment">WHAT: NEVER use xpath</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Markup is very easily subject to change</li>
                            <li>Unreadable locator</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid, source: stackoverflow */
var elem = element(by.xpath("//*@id="calc"]/form/section/section[2]/div/div/div[1]/div/div/div[3]/div[2]/div‌​[2]/div[1]/div[1]/h3"));
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#9</h2>
                    <p class="fragment">WHAT: NEVER use xpath</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>xpath is known to have performance issues</li>
                            <li>Unreadable locator</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */
// todo add example
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#10</h2>
                    <p class="fragment">WHAT: Use Page Objects to interact with the page under test</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Encapsulate information about the elements on the page under test</li>
                            <li>They can be reused across multiple tests</li>
                            <li>Decouple the test logic from implementation details</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

describe('Question page', function() {
    it('should answer any question', function() {
        var question = element(by.model('question.text'));
        var answer = element(by.binding('answer'));
        var button = element(by.css('.question-button'));

        question.sendKeys("What is the purpose of meaning?");
        button.click();
        expect(answer.getText()).toEqual("Chocolate!");
    });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* question.page.js */
var QuestionPage = function() {
    this.question = element(by.model('question.text'));
    this.answer = element(by.binding('answer'));
    this.button = element(by.className('question-button'));

    this.ask = function(question) {
        this.question.sendKeys(question);
        this.button.click();
    };
};

module.exports = UserPropertiesPage;
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* question.spec.js*/
var Question = require('./question.page');

describe('Question page', function() {
    var question = new Question();

    it('should ask any question', function() {
        question.ask('What is the purpose of meaning?');
        expect(question.answer.getText()).toEqual('Chocolate');
    });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#11</h2>
                    <p class="fragment">WHAT: Declare one Page Object per file</p>
                    <p class="fragment">WHY: Keeps code clean and makes things easy to find</p>
                </section>

                <section>
                    <h2>#12</h2>
                    <p class="fragment">WHAT: Use a single module.exports at the end of the Page Object file</p>
                    <p class="fragment">WHY: One Page Object per file means there's only one class to export</p>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

/* user-profile.page.js */
var UserProfilePage = function() {};
var UserSettingsPage = function() {};

module.exports = UserPropertiesPage;
module.exports = UserSettingsPage;
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-profile.page.js */
var UserProfilePage = function() {};

module.exports = UserPropertiesPage;
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#13</h2>
                    <p class="fragment">WHAT: Require all the modules at the top</p>
                    <p class="fragment">WHY: The module dependencies should be clear and easy to find</p>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.spec.js */
var UserPage = require('./user-properties.page');
var MenuPage = require('./menu.page');
var FooterPage = require('./footer.page');

describe('User properties page', function() {
    ...
});
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#14</h2>
                    <p class="fragment">WHAT: Instantiate all Page Objects at the beginning of the test suite</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Separates dependencies from the test code</li>
                            <li>Makes the dependencies available to all specs of the suite</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre>
                        <code>
/* recommended */

/* user-properties.spec.js */
var UserPage = require('./user-properties.page');
var MenuPage = require('./menu.page');
var FooterPage = require('./footer.page');

describe('User properties page', function() {
    var user = new UserPage();
    var menu = new MenuPage();
    var footer = new FooterPage();

    // specs
});
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#15</h2>
                    <p class="fragment">WHAT: Declare all the Page Object public elements in the constructor</p>
                    <p class="fragment">WHY: The user of the Page Object should have quick access to the available elements on a page</p>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;form&gt;
    Name: &lt;input type="text" ng-model="ctrl.user.name"&gt;
    E-mail: &lt;input type="text" ng-model="ctrl.user.email"&gt;
    &lt;button id="save-button"&gt;Save&lt;/button&gt;
&lt;/form&gt;
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* avoid */

/* user-properties.page.js */
var name = element(by.model('ctrl.user.name'));
var email = element(by.model('ctrl.user.email'));
var saveButton = element(by.id('#save-button'));

var UserPropertiesPage = function() {
    this.save = function() {
        ...
    };
};
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;form&gt;
    Name: &lt;input type="text" ng-model="ctrl.user.name"&gt;
    E-mail: &lt;input type="text" ng-model="ctrl.user.email"&gt;
    &lt;button id="save-button"&gt;Save&lt;/button&gt;
&lt;/form&gt;
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.page.js */
var UserPropertiesPage = function() {
    this.name = element(by.model('ctrl.user.name'));
    this.email = element(by.model('ctrl.user.email'));
    this.saveButton = element(by.id('#save-button'));

    this.save = function() {
        ...
    };
};
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#16</h2>
                    <p class="fragment">WHAT: Declare Page Object functions for operations that require more that one step</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>Most elements are already exposed by the Page Object and can be used directly in the test</li>
                            <li>Doing otherwise will not have any added value</li>
                        </ul>
                    </div>
                </section>

                <section>
                    <pre style="height: 320px;">
                        <code class="javascript">
/* avoid */

/* user-properties.page.js */
var UserPropertiesPage = function() {
    this.name = element(by.model('ctrl.user.name'));
    this.saveButton = element(by.id('#save-button'));

    this.enterName = function(name) {
        this.name.sendKeys(name);
    };
};
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* user-properties.spec.js*/
var UserPage = require('./user-properties.page');

describe('User properties page', function() {
    var user = new UserPage();

    it('should enable the save button when a user name is entered', function() {
        user.enterName('TeddyB');
        expect(user.saveButton.isEnabled()).toBeTruthy();
    });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.page.js */
var UserPropertiesPage = function() {
    this.name = element(by.model('ctrl.user.name'));
    this.saveButton = element(by.id('#save-button'));
};
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* user-properties.spec.js*/
var UserPage = require('./user-properties.page');

describe('User properties page', function() {
    var user = new UserPage();

    it('should enable the save button when a user name is entered', function() {
        user.name.sendKeys('TeddyB');
        expect(user.saveButton.isEnabled()).toBeTruthy();
    });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <h2>#17</h2>
                    <p class="fragment">WHAT: Don't make any assertions in your Page Objects</p>
                    <div class="fragment">
                        <span>WHY:</span>
                        <ul>
                            <li>It is the responsibility of the test to do all the assertions</li>
                            <li>A reader of the test should be able to understand the behavior of the application by
                                looking at the test only</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>


        <!-- reveal.js initialization -->
        <script>
            Reveal.initialize({
                controls: false,
                progress: true,
                history: true,
                center: true,
                transition: 'fade', // none/fade/slide/convex/concave/zoom
                // Optional reveal.js plugins
                dependencies: [{
                    src: 'lib/js/classList.js',
                    condition: function() { return !document.body.classList; }
                },{
                    src: 'node_modules/reveal.js/plugin/highlight/highlight.js',
                    async: true,
                    condition: function() { return !!document.querySelector( 'pre code' ); },
                    callback: function() { hljs.initHighlightingOnLoad(); }
                }
                    //{ src: 'plugin/zoom-js/zoom.js', async: true },
                    //{ src: 'plugin/notes/notes.js', async: true }
                ]
            });
        </script>
    </body>
</html>
