<!DOCTYPE html>
<html>
    <head>
        <title>Protractor styleguide</title>

        <link rel="stylesheet" href="node_modules/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="node_modules/reveal.js/css/theme/simple.css">
        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="node_modules/reveal.js/lib/css/zenburn.css">
        <link rel="stylesheet" href="styles/slides.css">
    </head>

    <body>
        <!-- lib scripts -->
        <script src="node_modules/reveal.js/lib/js/head.min.js"></script>
        <script src="node_modules/reveal.js/js/reveal.js"></script>

        <div class="reveal">
            <div class="slides">
              <!-- INTRO -->
              <section>
                <div class="title">
                  <img src="images/protractor-logo.png">
                  <h1>Protractor styleguide</h1>
                </div>
                <div class="speaker">
                  <img class="avatar" src="images/carmen-profile.jpg">
                  <p>@CarmenPopoviciu</p>
                </div>
                <div class="speaker">
                  <img class="avatar" src="images/andres-profile.jpg">
                  <p>@andresdom</p>
                </div>
              </section>

              <section>
                <div>
                  <img class="avatar-full" src="images/carmen-profile.jpg">
                </div>
              </section>

              <section data-background="images/sparkles.gif">
                <p>@CarmenPopoviciu</p>
              </section>

              <section>
                  // TODO add image from work
              </section>

              <section>
                //TODO add image with one cake
              </section>

              <section>
                //TODO add image with 2 cakes
              </section>

              <section>
                <div class="speaker">
                  <img class="avatar-full" src="images/andres-profile.jpg">
                </div>
              </section>

              <section>
                <p>@andresdom</p>
              </section>

              <section>
                //TODO @andres add your intro
              </section>

              <section>
                <div class="speaker">
                  // TODO @carmen add pic with teddyB
                  <img class="avatar-full" src="images/teddyB-profile.jpg">
                </div>
              </section>

              <section>
                <p>teddyB</p>
              </section>

              <section>
                //TODO @carmen add funnies with teddyB
              </section>


              <!-- E2E GENERICS -->
              <section>
                <h2>E2E Testing</h2>
              </section>

              <section>
                <h2>Why is it important?</h2>
                <ul>
                  <li class="fragment">Tells you that everything is OK</li>
                  <li class="fragment">Prevents production incidents</li>
                  <li class="fragment">Checks the app from the user's perspective</li>
                  <li class="fragment">Manual testing is not a good idea</li>
                </ul>
              </section>

              <section>
                <h2>What do we e2e test?</h2>
                <ul>
                  <li class="fragment">Major subpages or routes in the site</li>
                  <li class="fragment">Main user interaction flows</li>
                  <li class="fragment">Essential elements on a page</li>
                </ul>
              </section>

              <!-- RULES -->
              <section>
                <h2>Protractor Styleguide</h2>
              </section>

              <section>
                <h1>Our rules</h1>
              </section>

              <!--don't cheat-->
              <section>
                <h2>Don't cheat on your tests</h2>
                <p class="fragment">WHY: Tests are there for a reason. You'll only be cheating on yourself.</p>
              </section>

              <!--don't e2e what you can unit test-->
              <section>
                  <h3>Don't e2e test what you can unit test</h3>
                  <p class="fragment">WHY: Unit tests are much faster than e2e tests</p>
              </section>

              <!--don't e2e what has unit tests-->
              <section>
                <h3>Don't e2e test what you already unit tested</h3>
                <p class="fragment">WHY: This one should be pretty obvious ;)</p>
              </section>

              <!--don't e2e what has unit tests 2-->
              <section>
                <h3>Don't e2e test what you already unit tested</h3>
                <p>WHY: Avoid duplicate tests</p>
              </section>

              <!--put all thests in a folder-->
              <section>
                <h3>Put all e2e test files in one dedicated folder</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Easy to find</li>
                    <li>Separates them from unit tests</li>
                    <li>Cleaner folder structure</li>
                  </ul>
                </div>
              </section>

              <section>
                <pre>
                  <code class="javascript">
/* avoid */

|-- app
  |-- home
      home.module.js
      home.controller.js
      home.controller.spec.js
      home.e2e.spec.js
      home.page.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
      profile.controller.spec.js
      profile.directive.page.js
      profile.page.js
      profile.e2e.spec.js
                        </code>
                    </pre>
                </section>
               <section>
                    <pre>
                        <code class="javascript">
/* recommended */

|-- app
  |-- home
      home.module.js
      home.controller.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
|-- test
  |-- unit
      |-- ...
  |-- e2e
    |-- home
        homePageObject.js
        home.spec.js
    |-- profile
        profilePageObject.js
        profile.spec.js
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

|-- app
  |-- home
      home.module.js
      home.controller.js
      home.controller.spec.js
      |-- e2e
          homePageObject.js
          home.spec.js
  |-- profile
      profile.module.js
      profile.controller.js
      profile.directive.js
      profile.controller.spec.js
      profile.directive.spec.js
      |-- e2e
          profilePageObject.js
          profile.spec.js
                        </code>
                    </pre>
                </section>

              <!--use one configuration file-->
              <section>
                <h2>Use one configuration file</h2>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Use your build tool to setup different configurations</li>
                    <li>Avoid duplicate configuration code</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

protractor.conf.local.js
protractor.conf.dev.js
protractor.conf.test.js
.....
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* protractor.conf.js */
exclude: [],
multiCapabilities: [{
  browserName: 'chrome',
  shardTestFiles: true,
  maxInstances: 3
}],
allScriptsTimeout: 11000,
getPageTimeout: 10000,
framework: 'jasmine',
jasmineNodeOpts: {
  isVerbose: false,
  showColors: true,
  includeStackTrace: false,
  defaultTimeoutInterval: 40000
}
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* Gruntfile.js */
// grunt-protractor-coverage config
e2e.local: {
  options: {
    args: {
      baseUrl: local_base_url,
      seleniumAddress: local_selenium_address,
      specs: ['..../**/*.spec.js']
    }
  }
},
e2e.dev: {
  options: {
    args: {
      baseUrl: dev_base_url,
      seleniumAddress: dev_selenium_address,
      specs: ['..../**/*.spec.js']
    }
  }
}
                        </code>
                    </pre>
                </section>

              <!--use protractor locators-->
              <section>
                <h3>Favor protractor locators when possible</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Access elements easier</li>
                    <li>Code is less likely to change than other markup</li>
                    <li>More readable locators</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="html">
&lt;ul class="red"&gt;
  &lt;li&gt;{{color.name}}&lt;/li&gt;
  &lt;li&gt;{{color.shade}}&lt;/li&gt;
  &lt;li&gt;{{color.code}}&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* avoid */

var nameElem = element.all(by.css('.red li')).get(0);
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;ul class="red"&gt;
  &lt;li&gt;{{color.name}}&lt;/li&gt;
  &lt;li&gt;{{color.shade}}&lt;/li&gt;
  &lt;li&gt;{{color.code}}&lt;/li&gt;
&lt;/ul&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* recommended */

var nameElem = element(by.binding('color.name'));
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;div class="details"&gt;
  &lt;div class="personal"&gt;
    &lt;input ng-model="person.name"&gt;
  &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* avoid */

var nameElem = element.all(by.css('.details'))
                      .all(by.css('personal'))
                      .get(0);
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;div class="details"&gt;
  &lt;div class="personal"&gt;
    &lt;input ng-model="person.name"&gt;
  &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
/* recommended */

var elem = element(by.model('person.name'));
                        </code>
                    </pre>
                </section>

              <!--use id and css-->
              <section>
                <h3>Favor by.id and by.css when no protractor locators are available</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Access elements easier</li>
                    <li>Select markup that is less likely to change</li>
                    <li>More readable locators</li>
                  </ul>
                </div>
              </section>

              <!--never use xpath-->
              <section>
                <h3>NEVER use xpath</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Markup is very easily subject to change</li>
                    <li>Unreadable locator</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid, source: stackoverflow */
var elem = element(by.xpath("//*@id="calc"]/form/section/section[2]/div/div/div[1]/div/div/div[3]/div[2]/div‌​[2]/div[1]/div[1]/h3"));
                        </code>
                    </pre>
                </section>

              <!--never use xpath 2-->
              <section>
                <h3>NEVER use xpath</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>xpath is known to have performance issues</li>
                    <li>Unreadable locator</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */
// todo add example
                        </code>
                    </pre>
                </section>

              <!--use page objects-->
              <section>
                <h3>Use Page Objects to interact with the view under test</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Encapsulate information about the elements on the page under test</li>
                    <li>They can be reused across multiple tests</li>
                    <li>Decouple the test logic from implementation details</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

describe('Question page', function() {
  it('should answer any question', function() {
    var question = element(by.model('question.text'));
    var answer = element(by.binding('answer'));
    var button = element(by.css('.question-button'));

    question.sendKeys("What is the purpose of meaning?");
    button.click();
    expect(answer.getText()).toEqual("Chocolate!");
  });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* question.page.js */
var QuestionPage = function() {
  this.question = element(by.model('question.text'));
  this.answer = element(by.binding('answer'));
  this.button = element(by.className('question-button'));

  this.ask = function(question) {
    this.question.sendKeys(question);
    this.button.click();
  };
};

module.exports = UserPropertiesPage;
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* question.spec.js*/
var Question = require('./question.page');

describe('Question page', function() {
  var question = new Question();

  it('should ask any question', function() {
        question.ask('What is the purpose of meaning?');
        expect(question.answer.getText()).toEqual('Chocolate');
  });
});
                        </code>
                    </pre>
                </section>

              <!--one page object per file-->
              <section>
                <h3>Declare one Page Object per file</h3>
                <p class="fragment">WHY: Keeps code clean and makes things easy to find</p>
              </section>

              <!--single export-->
              <section>
                <h3>Use a single module.exports at the end of the Page Object file</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>One Page Object per file means there's only one class to export</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* avoid */

/* user-profile.page.js */
var UserProfilePage = function() {};
var UserSettingsPage = function() {};

module.exports = UserPropertiesPage;
module.exports = UserSettingsPage;
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-profile.page.js */
var UserProfilePage = function() {};

module.exports = UserPropertiesPage;
                        </code>
                    </pre>
                </section>

              <!--require all modules at the top-->
              <section>
                <h3>Require all the modules at the top</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>The module dependencies should be clear and easy to find</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.spec.js */
var UserPage = require('./user-properties.page');
var MenuPage = require('./menu.page');
var FooterPage = require('./footer.page');

describe('User properties page', function() {
    ...
});
                        </code>
                    </pre>
                </section>

              <!--create page object instances at the beginning-->
              <section>
                <h3>Instantiate all Page Objects at the beginning of the test suite</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Separates dependencies from the test code</li>
                    <li>Makes the dependencies available to all specs of the suite</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code>
/* recommended */

/* user-properties.spec.js */
var UserPage = require('./user-properties.page');
var MenuPage = require('./menu.page');
var FooterPage = require('./footer.page');

describe('User properties page', function() {
  var user = new UserPage();
  var menu = new MenuPage();
  var footer = new FooterPage();

  // specs
});
                        </code>
                    </pre>
                </section>

              <!--public elements in constructor-->
              <section>
                <h3>Declare all the Page Object public elements in the constructor</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>The user of the Page Object should have quick access to the available elements on a page</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre>
                        <code class="html">
&lt;form&gt;
  Name: &lt;input type="text" ng-model="ctrl.user.name"&gt;
  E-mail: &lt;input type="text" ng-model="ctrl.user.email"&gt;
  &lt;button id="save-button"&gt;Save&lt;/button&gt;
&lt;/form&gt;
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* avoid */

/* user-properties.page.js */
var name = element(by.model('ctrl.user.name'));
var email = element(by.model('ctrl.user.email'));
var saveButton = element(by.id('#save-button'));

var UserPropertiesPage = function() {
  this.save = function() {
    ...
  };
};
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="html">
&lt;form&gt;
  Name: &lt;input type="text" ng-model="ctrl.user.name"&gt;
  E-mail: &lt;input type="text" ng-model="ctrl.user.email"&gt;
  &lt;button id="save-button"&gt;Save&lt;/button&gt;
&lt;/form&gt;
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.page.js */
var UserPropertiesPage = function() {
  this.name = element(by.model('ctrl.user.name'));
  this.email = element(by.model('ctrl.user.email'));
  this.saveButton = element(by.id('#save-button'));

  this.save = function() {
    ...
  };
};
                        </code>
                    </pre>
                </section>

              <!-- page object functions -->
              <section>
                <h3>Declare Page Object functions for operations that require more that one step</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>Most elements are already exposed by the Page Object and can be used directly in the test</li>
                    <li>Doing otherwise will not have any added value</li>
                  </ul>
                </div>
              </section>

                <section>
                    <pre style="height: 320px;">
                        <code class="javascript">
/* avoid */

/* user-properties.page.js */
var UserPropertiesPage = function() {
  this.name = element(by.model('ctrl.user.name'));
  this.saveButton = element(by.id('save-button'));

  this.enterName = function(name) {
    this.name.sendKeys(name);
  };
};
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* user-properties.spec.js*/
var UserPage = require('./user-properties.page');

describe('User properties page', function() {
  var user = new UserPage();

  it('should enable save button when user name entered', function() {
    user.enterName('TeddyB');
    expect(user.saveButton.isEnabled()).toBe(true);
  });
});
                        </code>
                    </pre>
                </section>

                <section>
                    <pre>
                        <code class="javascript">
/* recommended */

/* user-properties.page.js */
var UserPropertiesPage = function() {
  this.name = element(by.model('ctrl.user.name'));
  this.saveButton = element(by.id('save-button'));
};
                        </code>
                    </pre>

                    <pre>
                        <code class="javascript">
/* user-properties.spec.js*/
var UserPage = require('./user-properties.page');

describe('User properties page', function() {
  var user = new UserPage();

  it('should enable save button when user name entered', function() {
    user.name.sendKeys('TeddyB');
    expect(user.saveButton.isEnabled()).toBe(true);
  });
});
                        </code>
                    </pre>
                </section>

              <!-- no assertions in page objects -->
              <section>
                <h3>Don't make any assertions in your Page Objects</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>It is the responsibility of the test to do all the assertions</li>
                    <li>A reader of the test should be able to understand the behavior of the application by
                      looking at the test only
                    </li>
                  </ul>
                </div>
              </section>

              <!-- mini page objects -->
              <section>
                <h3>Add Page Object wrappers for directives, dialogs, and common elements</h3>
                <div class="fragment">
                  <p>WHY</p>
                  <ul>
                    <li>You can use them in multiple tests</li>
                    <li>Avoid code duplication</li>
                    <li>When the directive changes you only need to change the wrapper once</li>
                  </ul>
                </div>
              </section>

              <!-- avoid text locators -->
              <section>
                <h3>Avoid text locators for text that changes frequently</h3>
                <div class="fragment">
                  <p>WHY</p>
                  <ul>
                    <li>Text for buttons, links, and labels tends to change over time</li>
                    <li>Your tests should not break when you make minor text changes</li>
                  </ul>
                </div>
              </section>

              <!-- TEST SUITES -->
              <!-- TEST SUITES -->
              <!-- TEST SUITES -->
              <!-- TEST SUITES -->
              <!-- TEST SUITES -->

              <section>
                <h1>Test suites</h1>
              </section>

              <!--use jasmine 2-->
              <section>
                <h2>Use Jasmine 2</h2>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>You can use <strong>beforeAll</strong> and
                      <strong>afterAll</strong></li>
                    <li>You can filter tests by name</li>
                  </ul>
                </div>
              </section>

              <!--make your suites independent-->
              <section>
                <h3>Make your tests independent at least at the file level</h3>
                <div class="fragment">
                  <p>WHY:</p>
                  <ul>
                    <li>You can run tests in parallel with sharding</li>
                    <li>The execution order is not guaranteed</li>
                    <li>You can run suites in isolation</li>
                  </ul>
                </div>
              </section>
            </div>
        </div>


        <!-- reveal.js initialization -->
        <script src="reveal-config.js"></script>
    </body>
</html>
