.reveal {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.reveal .full-width {
    width: 100%
}

.reveal pre {
    box-shadow: none;
}

.reveal pre code {
    max-height: 600px;
}

.reveal .slides img {
    border: none;
    box-shadow: none;
}

.reveal h1, .reveal h2 {
    font-family: inherit;
}

.reveal h2 {
    color: #B52E31;
    margin-bottom: 50px;
}

.reveal h3 {
    color: #B52E31;
    margin-bottom: 50px;
}

.reveal .slides .title h1 {
    font-size: 2.8em;
    margin-bottom: 140px;
}

.reveal .slides .title img {
    width: 4em;
}

.reveal .slides .speaker {
    width: 25%;
    display: inline-block;
}

.reveal .slides .speaker p {
    font-size: 24px;
    margin: 0;
}

.reveal .slides .avatar {
    width: 3em;
    border-radius: 1.5em;
    margin: 0;
}

.reveal .slides .avatar-full {
    width: 72%;
    margin: 0px;
}

.reveal .slides .rules h2 {
    position: absolute;
    top: -89%;
    left: 12.5%;
}

.reveal .slides ul.no-bullet {
    list-style: none;
}

.reveal .slides ul.no-bullet li {
    font-size: 1.2em;
    padding: 2px;
}

.reveal .slides ul.no-bullet.active li {
    color: #bbbbbb;
}

.reveal .slides ul.no-bullet li.current {
    font-weight: bold;
    color: black;
    list-style: disc;
}

pre code.javascript {
  overflow-wrap: break-word;
}
